html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #263ffd;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

#root_node {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}