html {
    background-color: #000000;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: 'transparent';
    font-family: 'Montserrat', sans-serif;
}

#root_node {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

* {
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}