body {
    margin: 0;
    padding: 0;
    background-color: #14120f;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

* {
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}