# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
    - run: npm install -g yarn
    - run: yarn
    - run: yarn build
    - name: Azure Login
      uses: azure/login@v2
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Azure CLI script
      uses: azure/CLI@v2
      with:
          inlineScript: |
              az storage blob upload-batch --account-name mehanigcomfrontpage -d '$web' -s ./dist
    - name: Azure CLI script
      uses: azure/CLI@v2
      with:
          inlineScript: |
            az cdn endpoint purge --content-paths  "/*" --profile-name "mehanigcomfrontpagecdnstatic" --name "mehanig" --resource-group "mehanig.com" 
    - name: Github Action for curl
      # You may pin to the exact commit or the version.
      # uses: wei/curl@61d92b5169ea0425820dd13cf6fbad66b483e9f1
      uses: wei/curl@v1.1.1
      with:
        args: -X POST https://api.cloudflare.com/client/v4/zones/cfd7a75d18978e0f7744d0935f3b6ff7/purge_cache/ -H 'Authorization:Bearer ${{ secrets.CLOUDFLARE_API_PURGE_CACHE_TOKEN }}' -H 'Content-Type:application/json' -H 'cache-control:no-cache' -d '${{ secrets.JSON_PAYLOAD_PURGE_ALL }}'
    
    - name: logout
      run: |
            az logout
